.img1 {
    margin-top: 120px;
    border-radius: 85px;

}

.body {
    margin: 0px;
    padding: 0px;
}

.head1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 200vh !important;

}

.head1 h4 {
    font-size: 22px;
}



.head {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #bd5d38;
    width: 35%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 20px;

}

.main1 {
    margin-top: 40px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 35px;
}

.para2 h4 {

    color: #868e96;
    margin-top: 30px;
    line-height: 24px;
}

.icon1 {
    border-radius: 50px;
    font-size: 45px;
    color: #343a40;
}

.icons {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 25px;
}

.icon1:hover {
    color: #bd5d38;
}

.experience {
    margin-top: 120px;
}

.exp111 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.font1 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.font2 {
    font-family: sans-serif;
}

.icon111 {
    color: #868e96;
    font-size: 40px;

}

#head1 {
    margin-top: 200px;
}



.icon111:hover {
    color: #bd5d38;

}

.icon123 {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 35px;
}

.workflow {
    display: flex;
    align-items: start;
    justify-content: start;
    font-weight: 700;
}

.size1 {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 15px;
    padding: 10px;
    font-weight: 800;
    color: #868e96;
}

.work111 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.trophy {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    font-weight: 400;
    color: #868e96;
}

#top1 {
    color: goldenrod;
}


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;

}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
}

nav ul li a:hover {
    color: white;
    font-weight: 900;
    list-style-type: none;
    text-decoration: none;
}


/* sticky navbar */
#navbar {
    position: fixed;
    /* Make the navbar fixed */
    top: 0;
    /* Align to the top */
    left: 0;
    width: 19%;
    background-color: #bd5d38;
    /* Dark background color */
    z-index: 1000;
    /* Ensure the navbar stays above other content */

}